.body{
    border: 3px solid  #82954B;
}

.project-container{
    width: 80%;
    margin: 0 auto 0 auto;
}

.project-container article {
		
    border-top: solid 3px #f4f4f4;
    margin-bottom: 2.25em;
    padding-top: 2.25em;
}
    .project-container article:first-child {
        border-top: 0;
        padding-top: 0;
    }

    .project-container article .image {
        
        display: inline-block;
        padding-right: 2.5em;
        vertical-align: middle;
        width: 48%;
        border:0;
        
    }

        .project-container article .image img {
            display: block;
            width: 100%;
            transition: transform .2s;
            border: 2px;
            border-color: #79b3ee;
            border-style: solid;
        }
        .project-container article .image img:hover {
            transform: scale(1.2);
        }

    .project-container article .inner {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
        .project-container article .inner a {
            color: #79b3ee;
            border-color: #79b3ee;
        }

        .project-container article .inner > :last-child {
            margin-bottom: 0;
        }