.head{
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 50px;
}

.head-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.middle{
    margin-left: auto;
    margin-right: auto;
    padding-right: 180px;
    padding-left: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle a{
    margin-right: 10px
}

.right{
    display: flex;
    justify-content: center;
}

.icon{
    margin-right: 5px;
    margin-left: 5px;
}

.fa-solid{
    margin-top: 5px;
    margin-left: 1px;
    font-size: 40px;
    background: -webkit-linear-gradient(225deg, rgb(251, 175, 21), rgb(251, 21, 242),             
    rgb(21, 198, 251)) 0% 0% / 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 10s ease infinite;
    -moz-animation: fontgradient 10s ease infinite;
    animation: fontgradient 10s ease infinite; 
}
@-webkit-keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes fontgradient { 
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}  

@media (max-width: 797px) {
    .head{
        height: auto;
    }

    .head-container{
        display: block;
    }

    .middle{
        text-align: center;
        padding-left: 0px;
    }
    .right{
        margin: 5px;
    }   
}